.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: #202020;
    padding: 24px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .closeButton {
    all: unset;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 20px;
    right: 20px;

    background-color: #2b2b2b;
    color: var(--foreground);
  
    height: 32px;
    width: 32px;

    border-radius: 100px;

    font-size: 1.5rem;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #3d3d3d;
      color: #fff;
    }
  }